%h1 Listing blogs

= search_form_for @q do |f|
  =# sort_link(@q, :title)
  =# sort_link(@q, :status)
  = sort_link(@q, :title, %i(title status), "Title + Status", default_order: { status: 'asc', title: 'asc' })
  = f.label :status_eq
  = f.select :status_eq, Blog.status.values, include_blank: true
  = f.label :name_cont
  = f.search_field :title_cont
  = f.submit

%hr

%table
  %thead
    %tr
      %th Status
      %th Title
      %th Blog Logo
      %th
      %th
      %th

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.status_text
        %td= blog.title
        %td= image_tag(blog.blog_logo_url(:thumb)) if blog.blog_logo?
        %td= link_to 'Show', blog
        %td= link_to 'Edit', edit_blog_path(blog)
        %td= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Blog', new_blog_path
