= simple_form_for(entry, url: url_for([entry.blog, entry])) do |form|
  - if entry.errors.any?
    %div#error_explanation
    %h2= pluralize(entry.errors.count, "error") + "prohibited this entry from being saved:"

    %ul
      - entry.errors.full_messages.each do |message|
        %li= message
  %div.field
    = form.input :title, as: :with_length, input_html: {size: 20}

  %div.field
    = form.input :body

  %div.actions
    = form.button :submit
